{% extends 'base2.html' %}

{% block content %}

<h1>Delete From Favorites</h1>
<br/>

{% if ticker %}
<table class="table table-borderless">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ticker Symbol</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for item in ticker %}
                <tr>
                    <th scope="row">{{ item }}</th>
                    <td><a href="{% url 'delete' item.id %}" class="btn btn-secondary">Delete {{ item }}</a></td>
                </tr>
            {% endfor%}
        </tbody>
{% else %}
    Add some stocks to delete
{% endif %}
{% endblock content %}